@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* navigation bar style start  */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigation-bar p{
    font-size: 30px;
    position: relative;
    left: 120px;
}
.navigation-bar .nav-btn a{
    font-size: 20px;
    padding: 15px;
    position: relative;
    right: 120px;
    text-decoration: none;
    color: rgb(13, 19, 33);
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}
/* navigation bar style end  */

/* banner section style start  */
.banner-container{
    margin: 0 auto;
}
.banner-contant{
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.banner-contant img{
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    
}
.banner-contant h1{
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.banner-contant  p{
    color: rgb(13, 19, 33);
    font-family: monospace;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    opacity: 0.7;
}
.banner-contant .banner-btn {
   margin-top: 50px;
}
.banner-contant .banner-btn a{
   box-sizing: border-box;
   text-decoration: none;
   color: white;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   background-color: rgb(13, 19, 33);
   padding: 20px;
   border-radius: 10px;
}
/* banner section style end  */

/* midle container  section style start here  */
.midle-container{
    width: 1500px;
    height: 1395px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.text-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 50px 100px;
    

}
.text-title h1{
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;

}
.text-title p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.6;
}
.contant-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 50px 150px;
    height: 300px;
}
.first-contant-text{
    width: 477px;
    height: 220px;

}
.first-contant-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.first-contant-text p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.midle-contant-btn a{
    
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.contant-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0), rgb(255, 255, 255) 100%);
    margin: 50px 150px;
    height: 300px;
}
/* midle container  section style end here  */

/* social video contant style start here  */
.social-video-contant{
    width: 1500px;
    height: 790px;
    margin: 0 auto;
    margin-top: 80px;
}
.social-text-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-text-contant h1{
    padding: 20px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.social-text-contant p{
    padding: 0 60px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}
.social-video-contant iframe{
    padding: 30px;
    border: 1px solid rgba(14, 13, 13, 0.507);
    border-radius: 20px;
    width: 1500px;
    height: 600px;
}

/* social video contant style end here  */

/* current-target-container section style start here  */
.current-target-container{
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.current-target-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 30px;
    
}
.current-target-text h1{
    font-size: 30px;
    font-weight: 800;
    padding: 15px;
}
.current-target-text p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.skills-contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-align: justify;
    gap: 50px;
}
.skills-contant-html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;

}
.skills-contant-html h4{
    font-size: 25px;
    padding: 20px 0px;
}
.skills-contant-html p{
    font-size: 16px;
    opacity: 0.7;
    padding: 20px 0px;
}
.skills-contant-html .skill-btn a{
   color: black;
   text-decoration: underline;
}

.skills-contant-css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    
}
.skills-contant-css h4{
    font-size: 25px;
    padding: 20px 0px;
}
.skills-contant-css p{
    font-size: 16px;
    opacity: 0.7;
    padding: 20px 0px;
}
.skills-contant-css .skill-btn a{
    color: black;
   text-decoration: underline;
}
.skills-contant-javascript{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 48px;
}
.skills-contant-javascript h4{
    font-size: 25px;
    padding: 20px 0px;
}
.skills-contant-javascript p{
    font-size: 16px;
    opacity: 0.7;
    padding: 20px 0px;
}
.skills-contant-javascript .skill-btn a{
    color: black;
    text-decoration: underline;
}
/* current-target-container section style end here  */

/* support section start here */

.support-container{
   background-image: url("./assets/handshake.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.7);
   max-width: 1500px;
   height: 300px;
   margin: 0 auto;
   border-radius: 15px;
   display: flex;
   /* text-align: center; */
   flex-direction: column ;
   justify-content: center;
   align-items: center;
   background-blend-mode: overlay;
}
.support-contant{
    text-align: center;
}
.support-contant h2{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px;
}
.support-contant p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    opacity: 0.7;
}
.input-massage input[type="text"]{
    padding: 10px 70px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    border: none;
}

.input-massage .submit-btn{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    border: none;
}
/* support section end here  */

/* foorter section starts here */
footer .footer-challange{
    width: 1500;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-text p{
    font-size: 20px;
    font-weight: 600;
}

/* foorter section ends here */